<div id="<%= dom_id(location) %>">

 <h2><%= location.name %></h2>
 <% if location.address? %>
  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>
 <% end %>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <p>
    <strong>Visited:</strong>
    <%= "#{time_ago_in_words(location.dates)} ago" if location.dates %>
  </p>

<% if location.ratings? %>
  <h2>Impressions</h2>
  <% location.ratings.each do |category, rating| %>
    <p><strong><%= category %>:</strong> <%= render_stars(rating) %></p>
  <% end %>
<% end %>

</div>



