<div id="<%= dom_id(location) %>">
  <h5 class="card-title">
    <h2><%= location.name %></h2>
  </h5>

  <% if location.address? %>
    <p class="lead">
      Address:
      <%= location.address %>
    </p>
  <% end %>

  <p class="lead">
    Latitude:
    <%= location.latitude %>
  </p>

  <p class="lead">
    Longitude:
    <%= location.longitude %>
  </p>

  <% if location.dates? %>
    <p class="lead">
      Visited:
      <%= "#{time_ago_in_words(location.dates)} ago" %>
    </p>
  <% end %>

  <% if location.ratings? %>
    <h4>Ratings</h4>
    <% location.ratings.each do |category, rating| %>
      <p class="lead"><%= category %>: <p><%= render_stars(rating) %></p></p>
    <% end %>
  <% end %>

  <% marker_data = [{
    latitude: location.latitude,
    longitude: location.longitude,
    tooltip: location.address,
    label: location.name
  }]
  %>
  
  <!-- Display the map using the js_map helper with specific marker data -->
  <%= js_map marker_data, style: "mapbox://styles/mapbox/outdoors-v12", tooltips: { html: true, hover: true } %>

  <br/>
  <!-- Display the comments using rich_text_area content in a location comments partial -->
  <%= render "locations/location_comments", location: location, comments: @comments %>
</div>
