<div id="<%= dom_id(location) %>">
  <h5 class="card-title">
    <h2><%= location.name %></h2>
  </h5>

  <% if location.address? %>
    <p class="lead">
      Address:
      <%= location.address %>
    </p>
  <% end %>

  <p class="lead">
    Latitude:
    <%= location.latitude %>
  </p>

  <p class="lead">
    Longitude:
    <%= location.longitude %>
  </p>

  <p class="lead">
    Visited:
    <%= "#{time_ago_in_words(location.dates)} ago" if location.dates %>
  </p>

  <% if location.ratings? %>
    <h2>Ratings</h2>
    <% location.ratings.each do |category, rating| %>
      <p class="lead"><%= category %>: <p><%= render_stars(rating) %></p></p>
    <% end %>
  <% end %>

  <% marker_data = [{
    latitude: location.latitude,
    longitude: location.longitude,
    tooltip: location.address,
    label: location.name
  }]
  %>
  
  <!-- Display the map using the js_map helper with specific marker data -->
  <%= js_map marker_data, style: "mapbox://styles/mapbox/outdoors-v12", tooltips: { html: true, hover: true } %>

  <!-- Display the comments using rich_text_area content -->
  <br/>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button <%= 'collapsed' if @comments.empty? %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="<%= !@comments.empty? %>" aria-controls="collapseOne">
          <h2 class="comments-heading">Comments</h2>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse <%= 'show' unless @comments.empty? %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <% if @comments.size > 0 %>
            <div class="comments-section">
              <div class="comments-content">
                <% @comments.each do |comment| %>
                  <div style="display: flex; flex-direction: column;">
                    <div style="padding: 0.5rem; background-color: #f0f0f0; border-radius: 0.25rem; margin-top: 0.75rem;">
                      <small> <%= comment.content %> </small>
                      <br/>
                      <!-- Update/Delete comment section -->
                      <div class="d-flex justify-content-between">
                        <%= button_to "Update Comment", edit_location_comment_path(location, comment), method: :get, class: "btn btn-primary btn-sm mt-2", remote: true %>
                        <%= form_with(model: comment, url: location_comment_path(location, comment), method: :delete) do |form| %>
                          <%= form.hidden_field :_method, value: :delete %>
                          <%= form.submit "Delete Comment", data: { confirm: "Are you sure you want to delete this comment?" }, class: "btn btn-danger btn-sm mt-2" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br/>
    <!-- Form to create new comments -->
    <%= form_with(model: [location, Comment.new], url: location_comments_path(location)) do |form| %>
      <%= form.hidden_field :location_id, value: location.id %>
      <%= form.rich_text_area :content, class: 'custom-image', data: { direct_upload_url: image_uploads_path } %>
      <div class="text-end"> 
        <%= form.submit "Add comment", class: "btn btn-primary btn-sm mt-2" %>
      </div>
    <% end %>
  </div>
</div>
