<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">
      <h2><%= location.name %></h2>
    </h5>

    <% if location.address? %>
      <p class="lead">
        Address:
        <%= location.address %>
      </p>
    <% end %>

    <p class="lead">
      Latitude:
      <%= location.latitude %>
    </p>

    <p class="lead">
      Longitude:
      <%= location.longitude %>
    </p>
    <% if location.dates? %>
    <p class="lead">
      Visited:
      <%= content_tag :span, location.dates.utc.strftime('%Y-%m-%d %H:%M'), data: { utc_time: location.dates.utc.iso8601 } %>
    </p>
    <% end %>

    <% if location.ratings? %>
      <h4>Ratings</h4>
      <% location.ratings.each do |category, rating| %>
        <p class="lead"><%= category %>: <p><%= render_stars(rating) %></p></p>
      <% end %>
    <% end %>

    <%= link_to "View Location Details", location_path(location), class: "btn btn-primary" %>
  </div>
</div>
