<div class="container d-flex align-items-center justify-content-center">
  <div class="container-md">
    <h1>My Places</h1>
      <%  if @locations.size == 0 %>
      <br/>
      <div class="container d-flex align-items-center justify-content-center">
        <div class="alert alert-primary" role="alert">
          Sorry, not sure if this is what you expected, locations have not been added yet!
        </div>
      </div>
    <% end %>
    <% if @locations.size %>
      <div class="card">
        <div class="card-body">
          <div id="locations">
            <% @locations.each do |location| %>
              <%= render location %>
              <p><br>
                  <%= link_to "View Location Details", location_path(location), class: "btn btn-primary" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to_prev_page @locations, 'Previous Page', class: "btn btn-primary" %>
    <%= link_to_next_page @locations, 'Next Page' , class: "btn btn-primary"%>
    <div class="container d-flex justify-content-center mt-4">
        <%= link_to "Add New Location", new_location_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
